@using System.Collections

@model IEnumerable<Patient>
@{



    <html>

    <head>
        <title>Index</title>
    </head>

    <body>
        <h1>Liste des Patient</h1>

        <table class="table table-striped">

            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Details </th>
                <th>Edit </th>
                <th>Delete </th>
                <th></th>
            </tr>
            @foreach (var patient in Model)
            {
                <tr>
                    <td>@patient.PatientId</td>
                    <td>@patient.Nom_p</td>
                    <td>@patient.Prenom_p</td>
                    <TD><a asp-action="Detail" asp-route-id="@patient.PatientId"> <i class="bi bi-eye-fill"></i></a></TD>
                    <TD><a asp-action="Modifier" asp-route-id="@patient.PatientId"> <i class="bi bi-pencil-fill"></i></a> </TD>
                    <TD><a asp-action="Supprimer" asp-route-id="@patient.PatientId"> <i class="bi bi-trash3-fill"></i></a></TD>
                </tr>

            }
        </table>
        <a asp-action="Ajouter" class="btn btn-primary">Ajouter un Patient</a>
    </body>

    </html>
}